#---- Python artifacts ----
venv/
env/
.env
__pychache__/
*.pyc

#---- VSCode artifacts ----
.vscode/

#user config and memory
config.json
# config.py
identity.json
owner.json
memory.json
personality.py

data/owner.json
data/identity.json
data/bmo_memory.db
data/chroma/

#
*.db
*.sqlite
*.sqlite3

#reports
bmo_report.txt