#---- Python artifacts ----
venv/
env/
.env
__pychache__/
*.pyc

#---- VSCode artifacts ----
.vscode/

#user config and memory
config.json
config.py
identity.json
owner.json
memory.json
personality.py

#
*.db
*.sqlite
*.sqlite3